body {
  margin: 0;
  padding: 16px;
  font-family: "SF Pro", Roboto, sans-serif;
}

code {
  padding: 2px 6px;
  margin: 0 2px;
  color: crimson;
  background: #ff000022;
  border-radius: 4px;
}

.action {
  color: dodgerblue;
  cursor: pointer;
}